.contact-container {
    padding: 1rem;
    margin-left: 20rem; /* adjust this value to the width of your LeftNavbar component */
  }
  
  .contact-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-container p {
    font-size: 1.2rem;
    line-height: 1.5;
  }